body {
    font-family: Roboto, sans-serif;
    width: 100%;
    margin: 0%
}
header {
    background: linear-gradient(to bottom, rgb(153,23,23) 85%, rgb(255, 255, 255));
    color: rgb(255, 255, 255);
    text-align: center;
}
main {
    border: solid 0.05em rgb(153,23,23);
    font-size: 14px;
    width: 100%;
}
li{ 
    display:inline-block
}
a { 
    font-size: 0.85em; 
    text-decoration: none;
    text-transform: capitalize; 
    color: rgb(255, 255, 255); 
    padding: 0.2em 0.4em;
}
a:hover { 
    background-color: rgb(221, 175, 175)	
}

#historia {
    float: left;
}
.principal {
    width: 500px;
    padding: 10px;
    text-align: justify;
}

footer {
    background: linear-gradient(to top, rgb(153,23,23) 90%, rgb(255, 255, 255));
    text-align: center;
    padding-top: 2em;
    height:9em;
}