header {
    text-align: center;
    width: 100%;
    height: 160px;
    background-color: wheat;
    position: fixed;
    top: 0px;
    left: 0px; 
}
body {
    font-family: Poppins;
}
main {
    width: 75%;
    margin: 0 auto;
    margin-top: 35px;
    box-shadow: 0 0 10px #333;
    background-color: #FFF;
}
.artigo {
    background-color: wheat;
    box-shadow: 0 0 10px #333;
    width: 55%;
    float: left;
    margin-top: 50px;
}
.mural {
    background-color: white;
    width: 40%;
    float: left;
    margin: 30px 0 0 20px;
}
section {
    width: 100%;
    margin: 0px auto;
    background-color: white;
    margin-top: 150px;
}
a {
    text-decoration: none;
    color: black;
}
/*
nav ul {
    margin: 0 auto; padding: 0;
    width: 100%;
    font-size: 20px;
}
nav ul li{ 
    list-style-type: none;
    display: inline;
}
/*Menu principal
nav ul li a {
    margin:0 0 20px -5px;
    color: rgb(153,23,23);
    text-decoration: none;
    margin: 0 0 0 20px;
    margin-bottom: 50px;
}
/*Submenu
nav ul li ul {
    display: none;
    position: absolute;
    padding-top: 3px;
    float: left;
}
/*Pulo do Gato - Aparece Menu
nav li:hover ul {
    display: block;
}
/*Itens submenu
nav ul li ul li a {
    width: 90px;
    padding-top: 1px;
}
nav ul li a:hover { 
    background-color: green;
}*/

h1 {
    text-align: center;
    color: rgb(153,23,23);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4 {
    font-size: 15px;
    margin-top: -4px;
    padding: 5px;
    text-align: center;
    background-color: wheat;
}
p {
    font-size: 110%;
    font-weight: 300;
    line-height: 1.5em;
    text-indent: 2em;
    margin: 10px;
}
.doacao {
    float: right;
    margin-top: 90px;
}
.logouipa {
    float: left;
    margin: 40px 0 0 70px;
}
.sociais {
    float: right;
    margin: 90px 90px 0 0;
    padding: 10px;
}
.principal {
    font-size: 10px;
    text-align: justify;
    margin: 10px 0 10px 5px;
}
.adote img {
    padding: 20px;
}
.doe img {
    padding: 20px;
}
.campanhas img {
    padding: 20px;
}
div.adote{   
    margin-top: 20px;
    box-shadow: 0 0 10px #333; 
    width: 390px;
}
div.doe {
    width: 390px;
    margin-top: 20px;
    box-shadow: 0 0 10px #333; 
}
div.campanhas {
    width: 390px;
    margin-top: 20px;
    box-shadow: 0 0 10px #333; 
}

.historia p:first-of-type::first-letter {
    color: rgb(153,23,23);
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 5px 0 0;
    line-height: 0.8;
    clear: both;
}
small {
    margin-left: 30px;
}
footer {
    width: 100%;
    height: 160px;
    background-color: wheat;
    clear: both;
}