body {
    font-family: Roboto, sans-serif;
    margin:0em;
}
header {
    background: linear-gradient(to bottom, rgb(153,23,23) 85%, rgb(255, 255, 255));
    padding: 0.2em;
    margin: 0em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
}
main { 
    margin-left: 14em;
    margin-right: 14em;
    border: solid 0.05em rgb(153,23,23);
}
li{ 
    display:inline-block
}
a { 
    font-size: 0.85em; 
    text-decoration: none;
    text-transform: capitalize; 
    color: rgb(255, 255, 255); 
    padding: 0.2em 0.4em;
}
a:hover { 
    background-color: rgb(221, 175, 175)	
}
h2 {
    text-align: center;
    margin: 0em;
    padding: 0.3em;
}
p {
    margin: 0px;
    padding-left: 2em;
    padding-right: 2em;
}
#doacao-inf {
    text-align: center;
}
img {
    width: 200px;
    display: inline-block;
}
section {
    
}
footer {
    background: linear-gradient(to top, rgb(153,23,23) 90%, rgb(255, 255, 255));
    text-align: center;
    padding-top: 2em;
    height:9em;
}